/*
nav bar color
#727272

 */



 header {
     height: 60px;
     background: #161616;
     padding-top: 4px;
 }


 ul{
     padding:0;

 }
 a{
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
 }
 li{
     list-style: none;
  }
 /**************************************************************************

 ***************************************************************************/
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 25px;
}

/**************************************************************************

***************************************************************************/

.hero {
    height: calc(40vh - 20px);
     /* background: #999; */
     background-size: cover;
    background-image: url('../img/iPhone-X-23-2.jpg');
    background-position: center;
    padding: 10px;
}

.headline {
    color:#111;
    text-align: center;
    font-weight:bolder 700;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;


}

h3 {
    color: black;
    text-align: center;
    font-weight:normal;

}


/**************************************************************************
Footer Section
***************************************************************************/
footer {
    height: 400px;
    background:white;
    padding:80px 0;

}
footer a{
    color:#25211e;
    font-size: 0.8em;
    line-height: 3;
}
.social-icon li{
    display: inline-block;
}
.social-icon i{
    font-size:2em;
    margin-right: 5px;
}
