/*
nav bar color
#727272

 */



 header {
     height: 60px;
     background: #161616;
     padding-top: 4px;
 }


 ul{
     padding:0;

 }
 a{
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
 }
 li{
     list-style: none;
  }
 /**************************************************************************

 ***************************************************************************/
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 25px;
}

/**************************************************************************

***************************************************************************/

.hero {
    height: calc(100vh - 80px);
    background: #999;
    background-image: url('../img/hero-large.jpg');
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
}
.hero-text-conatiner {
    padding-top: 40vh;
}

.hero-text-conatiner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-bottom:20px;
}

.hero-text-conatiner p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}


/**************************************************************************
Footer Section
***************************************************************************/
footer {
    height: 400px;
    background:white;
    padding:80px 0;

}
footer a{
    color:#25211e;
    font-size: 0.8em;
    line-height: 3;
}
.social-icon li{
    display: inline-block;
}
.social-icon i{
    font-size:2em;
    margin-right: 5px;
}
